extends layout

block content
  .container
    h1= title
    img(src="/img/logo.png" width="150px")
    .row
      .col-md-6
        .panel.panel-default
          h2 Top 10 - best scores ( score moyen )
          for r in bestRestaurants
            p 
              a(href="restaurants/view/" + r._id.restaurant_id) #{r._id.name} 
              | (#{r._id.cuisine}) : #{r.average}

      .col-md-6
        .panel.panel-default
          h2 Last Comments
          for c in comments
            p 
              a(href="restaurants/view/" + c.restaurant.restaurant_id) #{c.restaurant.name}
              |: "#{c.body}" - #{c.author}



